<mat-toolbar color="primary">
    
    <span><a routerLink="/" class="logo"></a></span>
    <span class="example-spacer"></span>
  
    
    <span><a routerLink="/client/cottages" class="link">Vacation homes</a></span><span class="tab"></span>
    <span><a routerLink="/client/ships" class="link">Ships</a></span><span class="tab"></span>
    <span><a routerLink="/client/lessons" class="link">Fishing instructors</a></span><span class="tab"></span>
    <span><a routerLink="/client/reservation" class="link">Make reservation</a></span><span class="tab"></span>
    <span><a routerLink="/client/cottageRes" class="link">Vacation home reservations</a></span><span class="tab"></span>
    <span><a routerLink="/client/shipRes" class="link">Ship reservations</a></span><span class="tab"></span>
    <span><a routerLink="/client/lessonRes" class="link">Fishing lessons reservations</a></span><span class="tab"></span>
    <span><a routerLink="/client/pendingRes" class="link">Pending reservations</a></span><span class="tab"></span>
    <span><a routerLink="/client/deleteRequest" class="link">Delete request</a></span><span class="tab"></span>
    <span><a routerLink="/client/subscriptions" class="link">Subscriptions</a></span><span class="tab"></span>
    <span><a routerLink="/client/updateInfo" class="link">Profile</a></span><span class="tab"></span>
    <span><a (click)="logOut()" class="link">Logout</a></span>
   
  
</mat-toolbar>


<div class="container">
<router-outlet></router-outlet>
</div>  