<mat-toolbar color="primary">
    
    <span><a routerLink="/" class="logo"></a></span>
    <span class="example-spacer"></span>
  
    
    <span><a routerLink="/login" class="link">Vacation homes</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Ships</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Fishing instructors</a></span><span class="tab"></span>
    <span><a routerLink="/client/reservation" class="link">Make reservation</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Vacation home reservations</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Ship reservations</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Instructor reservations</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Pending reservations</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Penalties</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Subscriptions</a></span><span class="tab"></span>
    <span><a routerLink="/login" class="link">Complaint</a></span><span class="tab"></span>
    <span><a routerLink="/client/updateInfo" class="link">Profile</a></span><span class="tab"></span>
    <span><a (click)="logOut()" class="link">Logout</a></span>
   
  
</mat-toolbar>


<div class="container">
<router-outlet></router-outlet>
</div>  