<div>
  <mat-radio-group aria-label="Select an option" id="radios">
    <mat-radio-button *ngFor="let option of options" [value]="option" (change)="checkRadios($event)">{{option}}</mat-radio-button>
   
  </mat-radio-group>
  <br>

  <div *ngIf="show === 0">
    <form action="" [formGroup]="reportFormYear">
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Year" name="year" formControlName="year">
        
        
        <!-- <mat-error *ngIf="reportFormRange['controls'].start.hasError('matStartDateInvalid')">Invalid start date</mat-error> -->
    </mat-form-field>
    &nbsp;
    &nbsp;
    
    <button mat-raised-button color="primary" (click)="getReport()" >Submit</button>
    </form>
  </div>

  <div *ngIf="show === 1">
    <form action="" [formGroup]="reportFormMonth">
      <mat-form-field appearance="fill" >
        <input matInput placeholder="Year" name="year" formControlName="year">
        
        
        <!-- <mat-error *ngIf="reportFormRange['controls'].start.hasError('matStartDateInvalid')">Invalid start date</mat-error> -->
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill" >
      <input matInput placeholder="Month" name="month" formControlName="month">
      
      
      <!-- <mat-error *ngIf="reportFormRange['controls'].start.hasError('matStartDateInvalid')">Invalid start date</mat-error> -->
  </mat-form-field>
  &nbsp;
    &nbsp;
  <button mat-raised-button color="primary" (click)="getReport()" >Submit</button>
    </form>
  </div>
  <div *ngIf="show===2">
    <form action="" [formGroup]="reportFormRange" >
  
    <mat-form-field appearance="fill" >
        <input matInput [matDatepicker]="picker" placeholder="Start date" name="start" formControlName="start" [max]="maxDate">
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker>

        </mat-datepicker>
        <!-- <mat-error *ngIf="reportFormRange['controls'].start.hasError('matStartDateInvalid')">Invalid start date</mat-error> -->
    </mat-form-field>
&nbsp;

    <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker2" placeholder="End date" name="end" formControlName="end" [max]="maxDate">
        <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2>

        </mat-datepicker>
        <!-- <mat-error *ngIf="reportFormRange['controls'].end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
    </mat-form-field>
    &nbsp;
    &nbsp;
    <button mat-raised-button color="primary" (click)="getReport()" >Submit</button>
  
  </form>
</div>
<div class="container chart-container" *ngIf="show === 0">
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="yearData"
        [labels]="yearLabels"
        [options] = "lineChartOptions"
        
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>
<div class="container chart-container" *ngIf="show === 1">
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="monthData"
        [labels]="monthLabels"
        [options] = "lineChartOptions"
        
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>
<div class="container chart-container" *ngIf="show === 2">
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="rangeData"
        [labels]="rangeLabels"
        [options] = "lineChartOptions"
        
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>

</div>