<div class="formBox">
    <h1><b>Log in</b></h1>
    <form [formGroup]="loginForm" #f="ngForm">
        <hr>
        
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <!--<mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                Email not valid!
            </mat-error >-->
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                Username is required!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is required!
            </mat-error>
        </mat-form-field>
    
        
        
        <br>
        <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()">Log in</button>
        <br>
        
        <mat-error *ngIf="f.submitted && isLoginFailed">
            <br>
            Username and password don't match
        </mat-error>
    </form>
</div>
<div class="link">
    New user? <a href="#" routerLink="/register">Register</a>
 </div>