<div class="container">
<div>
    <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select id="sort" name="sort" (selectionChange)="sort($event)">
            <mat-option value="NAME_ASC">Sort by name ascending</mat-option>
            <mat-option value="NAME_DESC">Sort by name descending</mat-option>
            <mat-option value="CITY_ASC">Sort by city ascending</mat-option>
            <mat-option value="CITY_DESC">Sort by city descending</mat-option>
            <mat-option value="GRADE_ASC">Sort by grade ascending</mat-option>
            <mat-option value="GRADE_DESC">Sort by grade descending</mat-option>
            <mat-option value="PRICE_ASC">Sort by price ascending</mat-option>
            <mat-option value="PRICE_DESC">Sort by price descending</mat-option>
        </mat-select>
    </mat-form-field>
    <div id="returnData" [dataSource]="returnData" class="row" *ngFor="let data of returnData;let i=index" class="container center-card">  
        <a href="#" [routerLink]="['servicePage', data.id]" style="text-decoration:none">              
    <mat-card>
        <mat-card-header>
            
            <mat-card-title>
                <p class="title-paragraph">{{data.name}}</p>
                
               
            </mat-card-title>
                
            <mat-card-subtitle>
                <span style="visibility: hidden;" >{{data.id}}</span>
            </mat-card-subtitle>
            
       
        </mat-card-header> 

        
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="250px" rowWidth="500px">
                <mat-grid-tile>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXC8KB-1CchePhUhYS-QEPN_4UEwSZus1ByA&usqp=CAU" alt="" height="250px" width="500px">
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-card-content style="text-align: left;">
                    <div class="content-paragraph">Street: {{ data.streetName}}, {{ data.number}}</div><br>
                    
                    <div class="content-paragraph">City: {{ data.city }}</div><br>
                    <div class="content-paragraph">State: {{ data.state }}</div><br>
                    <div class="content-paragraph">Price: {{ data.price }}$/hour </div><br>
                    <div class="content-paragraph">Grade: {{ data.grade }}</div>
                    
                </mat-card-content>
                </mat-grid-tile>
            </mat-grid-list>
            
           
        </mat-card-content>
        
        <mat-divider></mat-divider>   
       <mat-card-actions style="text-align: right;">
           
            <!-- <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="!feedback.approved">Approve</button>
            <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="feedback.approved">Deny</button> -->
            <!-- <button mat-raised-button color="primary" (click)="getInfos(data.id)">More Info</button> -->
        </mat-card-actions>
    </mat-card>
        </a>
    <div style="margin-top: 20px;"></div> 
</div>
</div>
</div>