<mat-toolbar color="primary">
    
        <span><a routerLink="/" class="logo"></a></span>
        <span class="example-spacer"></span>
        <span><a routerLink="/cottages" class="link">Vacation homes</a></span><span class="tab"></span>
        <span><a routerLink="/ships" class="link">Ships</a></span><span class="tab"></span>
        <span><a routerLink="/lessons" class="link">Fishing instructors</a></span><span class="tab"></span>
        <span><a routerLink="/login" class="link">Login</a></span><span class="tab"></span>
        <span><a routerLink="/register" class="link">Register</a></span>
       
      
</mat-toolbar>


  <div class="container">
    <router-outlet></router-outlet>
  </div>  