/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body ,.mat-body, .mat-body-1, .mat-typography {
    margin: 0;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
    padding: 1.5em 0;
}
header a {
    color: white;
    text-decoration: none;
}
.logo {
    font-weight: bold;
    padding-left: 10px;
}

nav {
    float: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}
nav ul li a {
    padding: 1em;
}
nav ul li a:hover {
    background: darken(black, 10%);
}

h1 {
    margin-top: 2em;
    font-size: 20px;
}

.formBox{
    align-items: center;
    text-align: center;
    min-width: 40%;
    width: fit-content;
    margin: 1em auto; 
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}

.welcome{
    align-items: center;
    text-align: center;
    min-width: 40%;
    width: fit-content;
    margin: 1em auto; 
    padding:10px;
}
.mat-form-field-subscript-wrapper {
    z-index: 100; 
  }

.link a{
    color: rgb(92, 153, 172);
    
}
.link{
    font-size: 13px;
    color: grey;
    text-align: center;
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    /* align-items: flex-start !important; */
 }