
<button mat-raised-button color="primary" (click)="subscribe()" *ngIf="role==='ROLE_CLIENT'">Subscribe</button>
<button  mat-raised-button color="primary" ><a href="#" [routerLink]="['actionRes']" style="text-decoration:none" *ngIf="role==='ROLE_CLIENT'"> Actions</a></button>


<div id="serRev" [dataSource]="serRev" class="row" *ngFor="let data of serRev;let i=index" class="container center-card">  
                                
    <mat-card>
        <mat-card-header>
                
            <mat-card-subtitle>
                <span style="visibility: hidden;"  id="{{'id' + i}}">{{data.id}}</span>
            </mat-card-subtitle>
            
       
        </mat-card-header> 

        
        <mat-card-content>
            
                
                    <mat-card-content style="text-align: left;">
                   
                    <div class="content-paragraph">Text: {{ data.text }} </div><br>
                    <div class="content-paragraph">Grade: {{ data.grade }} </div><br>
                    <div class="content-paragraph">Type: {{ data.type }} </div><br>
                    
                    
                </mat-card-content>
            
           
        </mat-card-content>
        
        <mat-divider></mat-divider>   
       <mat-card-actions style="text-align: right;">
           
            <!-- <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="!feedback.approved">Approve</button>
            <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="feedback.approved">Deny</button> -->
            
        </mat-card-actions>
    </mat-card>
    <div style="margin-top: 20px;"></div> 
</div>

<div id="selRev" [dataSource]="selRev" class="row" *ngFor="let data of selRev;let i=index" class="container center-card">  
                                
    <mat-card>
        <mat-card-header>
                
            <mat-card-subtitle>
                <span style="visibility: hidden;"  id="{{'id' + i}}">{{data.id}}</span>
            </mat-card-subtitle>
            
       
        </mat-card-header> 

        
        <mat-card-content>
        
                    <mat-card-content style="text-align: left;">
                   
                    <div class="content-paragraph">Text: {{ data.text }} </div><br>
                    <div class="content-paragraph">Grade: {{ data.grade }} </div><br>
                    <div class="content-paragraph">Type: {{ data.type }} </div><br>
                    
                    
                </mat-card-content>
                
                
            
           
        </mat-card-content>
        
        <mat-divider></mat-divider>   
       <mat-card-actions style="text-align: right;">
           
            <!-- <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="!feedback.approved">Approve</button>
            <button mat-raised-button color="accent" id="button" (click)="updateStatus(feedback.id,!feedback.approved, $event.target)" *ngIf="feedback.approved">Deny</button> -->
            
        </mat-card-actions>
    </mat-card>
    <div style="margin-top: 20px;"></div> 
</div>


